<div *ngIf="currentStation" class="container mt-3">
  <div class="header-container">
    <h3>Details <span>{{currentStation.name}} - {{currentStation.watersName}}</span></h3>
    <button class="btn btn-secondary mb-4" routerLink="/home">Zurück</button>
  </div>
  <h4 class="mb-4">Letzte Messungen: {{currentStation.stationAbilities[0].measurements[0].measurementTime | date: 'dd.MM.yyyy HH:mm'}}</h4>
  <div class="table-responsive">
  <table class="table table-light table-striped">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Letzter Messwert</th>
      <th scope="col">Mittelwert 24h</th>
      <th scope="col">Maximum 24h</th>
      <th scope="col">Minimum 24h</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stationAbility of currentStation.stationAbilities">
      <td>{{stationAbility.name}}</td>
      <td>{{stationAbility.measurements[0]?.value ? stationAbility.measurements[0].value + stationAbility.unit : '-'}}</td>
      <td>{{stationAbility.measurements[0]?.mean24H ? stationAbility.measurements[0].mean24H + stationAbility.unit : '-'}}</td>
      <td>{{stationAbility.measurements[0]?.max24H ? stationAbility.measurements[0].max24H + stationAbility.unit : '-'}}</td>
      <td>{{stationAbility.measurements[0]?.min24H ? stationAbility.measurements[0].min24H + stationAbility.unit : '-'}}</td>
    </tr>
    </tbody>
  </table>
  </div>
  <hr>
  <ng-template [ngIf]="waterTemperatures">
    <h4>Temperatur letzten 7 Tage</h4>
    <div class="mb-4" style="display: block;">
      <canvas [data]="lineChartData"
              [options]="lineChartOptions"
              [type]="lineChartType"
              baseChart></canvas>
    </div>
  </ng-template>
</div>

