.label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.custom-icon {
  color: #e8ba0b;
  font-size: 1.5rem;
  cursor: pointer;
}

.favorite-bg {
  background-color: #f0ecd8 !important;
}

.input-header-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.text-small {
  font-size: .8rem;
}
