<div class="container mt-5">
  <h1 class="text-center">Login</h1>
  <form (ngSubmit)="onSubmit()" *ngIf="loginForm" [formGroup]="loginForm" class="form-signing">
    <div class="form-label-group col-md-6 m-md-auto">
      <label for="inputEmail">Email</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
        <input
          [ngClass]="{
                        'is-invalid': loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched),
                        'is-valid': loginForm.controls['email'].valid
                      }"
          class="form-control"
          formControlName="email"
          id="inputEmail"
          type="email">
        <div *ngIf="loginForm.controls['email'].errors &&
                 (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
             class="invalid-feedback">
          <p *ngIf="loginForm.controls['email'].errors['required']">Email ist ein Pflichtfeld</p>
          <p *ngIf="loginForm.controls['email'].errors['email']">ungültige E-Mail</p>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6 m-md-auto">
      <label for="inputPassword">Passwort</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fa fa-key"></i></span>
        <input
          [ngClass]="{
                        'is-invalid': loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched),
                        'is-valid': loginForm.controls['password'].valid
                      }"
          type="password"
          autocomplete="on"
          class="form-control"
          formControlName="password"
          id="inputPassword">
        <div *ngIf="loginForm.controls['password'].errors &&
                 (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
             class="invalid-feedback">
          <p *ngIf="loginForm.controls['password'].errors['required']">Passwort ist ein Pflichtfeld</p>
        </div>
      </div>
    </div>
    <div class="text-center mt-2">
      <div (click)="onForgotPassword()" class="forgotPassword">Passwort vergessen ?</div>
    </div>
    <div class="button-container col-5 m-auto">
    <button [disabled]="loginForm.invalid" class="btn btn-lg btn-success mt-4"
            type="submit"><i class="fa fa-sign-in"></i> Login
    </button>
    <button (click)="onRegister()" class="btn btn-outline-info" id="register" type="button">Konto erstellen</button>
    </div>
  </form>
</div>
